  
/* Main Hero Services*/

        .main-hero-services {
            height: 100%;
            padding: 15%;
            background-color: #101010;
            font-size:medium;
            color: #ffffff;
    
            h1 {
                color: #ffffff;
                font-size: 42px;
                max-width: 50%;
                line-height: normal;
    
    
            }
    
            p {
    
            color: rgb(255, 255, 255);
            font-family: "Open Sans", serif;
            font-size: normal;
            max-width: 80%;
            font-size: 16px;
    
            }
    
            span {
                color: #f7f7f7;
                font-style: italic;
                font-family: Playfair-Display !important; 
                font-size: 50px !important;
            }

            ul {
                padding-top: 3%;
            }
         
        }
    
    

    /* Main Works */

    .main-works {

        h1 {
            font-family: Swansea;
            color:#101010;
            font-size: 42px;
            max-width: 100%;
            line-height: normal;
            padding-bottom: 5%;
            text-align: center;
            padding: 8% 18% 8% 18%;
       
        }

        p {

            color:#101010;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            max-width: 80%;
    
            }

        span {
                color: #101010;
                font-style: italic;
                font-family: Playfair-Display !important; 
                font-size: 50px !important;
            }

        .overflow {
                max-width: 100%;
                overflow-x: hidden;
                box-sizing: border-box;
            }
       

	}


    /* Main Team */

    .main-team {


        h1 {
            font-family: Swansea;
            color:white;
            font-size: 42px;
            max-width: 100%;
            line-height: normal;
            text-align: center;
            padding: 5% 18% 5% 18%;
        }

        span {
            color: white;
            font-style: italic;
            font-family: Playfair-Display !important; 
            font-size: 50px !important;
        }

        .table {
            padding: 8% 28% 8% 18%;
        }
   

	}

   
   

    
   

    

