
    

    

    /* Main Team */

    .main-team {


        h1 {
            font-family: Swansea;
            color:white;
            font-size: 42px;
            max-width: 100%;
            line-height: 1.2;
            text-align: center;
            padding: 5% 18% 5% 18%;
        }

        span {
            color: white;
            font-style: italic;
            font-family: Playfair-Display !important; 
            font-size: 50px !important;
        }

        .table {
            padding: 8% 28% 8% 18%;
        }
   

	}

   
   

    
   

    

