<div>
    <main class="main-about">
        <h1>❤️️ Nos apasiona <span>lo que hacemos...</span></h1>
        <p>Somos un equipo de expertos en diferentes áreas, enfocados en la metodología Lean Startup; <strong>creamos, mediemos, aprendemos, iteramos.</strong> Somos Data Driven, lo que no se mide no se mejora. hacemos Producto, Ingeniería Web, Growth Marketing, Scientific Advertising, UX/UI, Automatización IA, Cyberseguridad, Consultoría y Mentoría. <p>

        Somos full remoto ;).
    </main>
</div>     




