<section class="section-about">
    <div class="container-about">
        <div class="gradient-heading">
            
            <h1>Nos apasiona<br /><span class="gradient-accent"> lo que hacemos</span></h1>
            <p class="description"> Somos un equipo de expertos en diferentes áreas, enfocados en la
                metodología Lean Startup; <strong>creamos, medimos, aprendemos, iteramos.</strong> 
                Somos Data Driven, lo que no se mide no se mejora. Hacemos Producto, Ingeniería
                Web, Growth Marketing, Scientific Advertising, UX/UI, Automatización IA,
                Cyberseguridad, Consultoría y Mentoría.
            </p>
        </div>
    </div>
</section>
    <style>
        /* Main About*/
        .section-about {
            width: 100%;
            background-color: #101010;
            color: #ffffff;
            padding-bottom: 5rem;
        }
        .container-about {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0;
            
           
        }

        p.description {
            width: 80%;
        }

        

        /** Mobile Responsive */
        @media screen and (max-width: 768px) {
            .container-about{
                text-align: center;
            }

            p.description {
            width: 100%;
        }
            

        }
    </style>
