<section class="section-hero">
  <div class="container-hero">
    <div class="gradient-heading">
      <h1>Usamos<br /><span class="gradient-accent">ciencia y tecnología</span><br /> para hacer crecer empresas.</h1>
    </div>
  </div>
</section>

<style>

  /* Main Hero*/

  .section-hero {
    background: #101010;
    color: white;
    padding-top: 15rem;
    padding-bottom: 2rem;
  }

   .container-hero {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
  }

    .section-hero::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 30%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        circle,
        rgba(0, 245, 255, 0.04) 0%,
        rgba(0, 245, 255, 0.02) 50%,
        transparent 70%
    );
    border-radius: 50%;
    animation: radialExpand 5s ease-in-out infinite;
    z-index: 1;
}

@keyframes radialExpand {
    0%, 100% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.6;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }
}


  /** Mobile Responsive */

  @media screen and (max-width: 768px) {
    .gradient-heading {
      font-size: 3.5rem;
      max-width: 100%;
      text-align: center;
      line-height: normal;
    }

    .gradient-accent {
      font-size: 1.2em;
    }

  }
  
</style>
