<div>
    <main class="main-partners">
        <section class="overflow">  
            <div class="vlt-gap-120"></div>
            <div class="container-fluid p-0">
                <!--Animated block-->
                <h1>Partners</h1>
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0"><strong class="fz-5 lh-0 has-black-color" data-marquee=""><span class="white" data-marquee-text="We make">Jumpseller / Shopify / Bubble / Adalo / Webflow / Framer / Amazon / Azure / Microsoft </span>
                </div>    
                <p> Somos partner de las empresas de tecnología más importantes del mercado.</p>
            <div class="vlt-gap-120"></div>
        </section>
    </main>
</div>