<!--Site overlay-->
<div class="vlt-site-overlay"></div>
<!--Main-->
<main class="vlt-main">
    <!--Page content-->
    <div class="vlt-page-content">
        <!--Section-->
        <section class="has-black-background-color">
            <!--Site fixed bar-->
            <div class="vlt-site-fixed-bar vlt-site-fixed-bar--left has-white-color position-fixed">
                <div class="flex-grow-0 flex-shrink-0"></div>
                <div class="d-flex flex-grow-1 flex-shrink-1 align-items-center justify-content-center">
                    <div class="vlt-site-fixed-bar__socials"><a class="vlt-social-icon vlt-social-icon--style-1" href="#">Fb.</a><a class="vlt-social-icon vlt-social-icon--style-1" href="#">Tw.</a><a class="vlt-social-icon vlt-social-icon--style-1" href="#">In.</a><a class="vlt-social-icon vlt-social-icon--style-1" href="#">Ln.</a></div>
                </div>
                <div class="flex-grow-0 flex-shrink-0"></div>
            </div>
            <!--Site fixed bar-->
            <div class="vlt-site-fixed-bar vlt-site-fixed-bar--right has-white-color position-fixed">
                <div class="flex-grow-0 flex-shrink-0"></div>
                <div class="d-flex flex-grow-1 flex-shrink-1 align-items-center justify-content-center">
                    <div class="vlt-swiper-progress vlt-homepage-09-anchor" data-direction="vertical"><span class="current"></span>
                        <div class="bar"><span></span></div><span class="total"></span>
                    </div>
                </div>
                <div class="flex-grow-0 flex-shrink-0 text-center"><a class="vlt-site-fixed-bar__all-link" href="work-grid-3-col.html"><i class="icon-grid"></i></a></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <!--Project showcase-->
                        <div class="vlt-project-showcase vlt-project-showcase--style-2" data-navigation-anchor=".vlt-homepage-09-anchor">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="vlt-project-showcase__item">
                                            <div class="vlt-project-showcase__image" style="background-image: url(assets/img/homepage-showcase-08.png);"></div>
                                            <div class="vlt-project-showcase__content"><span class="vlt-project-showcase__number">01</span>
                                                <h2 class="vlt-project-showcase__title has-cursor"><a href="#">Mobile App</a></h2><span class="vlt-project-showcase__category">Bdanding / Design</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vlt-project-showcase__item">
                                            <div class="vlt-project-showcase__image" style="background-image: url(assets/img/homepage-showcase-07.png);"></div>
                                            <div class="vlt-project-showcase__content"><span class="vlt-project-showcase__number">02</span>
                                                <h2 class="vlt-project-showcase__title has-cursor"><a href="#">Branding</a></h2><span class="vlt-project-showcase__category">Illustration</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vlt-project-showcase__item">
                                            <div class="vlt-project-showcase__image" style="background-image: url(assets/img/homepage-showcase-09.png);"></div>
                                            <div class="vlt-project-showcase__content"><span class="vlt-project-showcase__number">03</span>
                                                <h2 class="vlt-project-showcase__title has-cursor"><a href="#">Package</a></h2><span class="vlt-project-showcase__category">Design / Illustration</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vlt-project-showcase__item">
                                            <div class="vlt-project-showcase__image" style="background-image: url(assets/img/homepage-showcase-10.png);"></div>
                                            <div class="vlt-project-showcase__content"><span class="vlt-project-showcase__number">04</span>
                                                <h2 class="vlt-project-showcase__title has-cursor"><a href="#">Game Design</a></h2><span class="vlt-project-showcase__category">Design / Branding</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vlt-project-showcase__item">
                                            <div class="vlt-project-showcase__image" style="background-image: url(assets/img/homepage-showcase-11.png);"></div>
                                            <div class="vlt-project-showcase__content"><span class="vlt-project-showcase__number">05</span>
                                                <h2 class="vlt-project-showcase__title has-cursor"><a href="#">Photography</a></h2><span class="vlt-project-showcase__category">Design / Photography</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>