<div class="main-sub">
  <div class="main-hero-services">
    <h1>¿Qué necesitas <span>crear?</span></h1>
    <ul class="three-column-list">
      <li>Landingpage</li>
      <li>Onepage</li>
      <li>Minisites</li>
      <li>Web Aplication</li>
      <li>Mobile App</li>
      <li>Dashboard</li>
      <li>Website</li>
      <li>Tiendas Online</li>
      <li>MVP</li>
    </ul>
  </div>
</div>

<style>
  .main-sub{
   background-color: #101010; 
   padding: 5% 15%;
  }
  
  .main-hero-services {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0rem;
  }

  h1 {
    text-align: left;
    margin-bottom: 1rem;
  }

  .three-column-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    list-style: none;
    padding-top: 5%;
  }

  .three-column-list li {
    background-color:rgb(35, 34, 34);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    border-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }

  /* Responsividad */
  @media (min-width: 640px) {
    .three-column-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .three-column-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
