<div>
    <main class="main-tech">
        <section>
            <h1>Implementamos las<span class="playfair"> últimas tecnologías </span>del mercado.</h1>
            <p>Make / n8n / Framer / Webflow / Bubble / Squarespace / Tiend Nube / Stripe / Shopify / Jumpseller / Woocomerce / Vitex / Google Looker Studio / Google Shopping / Porter Metrix / Hubspot / Hotjar
            </p>
        </section>
    </main>
</div>     

