<div class="main-tech">
            <h1>Implementamos las<span class="playfair"> últimas tecnologías </span>del mercado.</h1>
            <p>Make / n8n / Framer / Webflow / Bubble / Squarespace / Tiend Nube / Stripe / Shopify / Jumpseller / Woocomerce / Vitex / Google Looker Studio / Google Shopping / Porter Metrix / Hubspot / Hotjar
            </p>
</div>     

<style>

/* Main Tech*/

.main-tech {
    height: 400px;
    padding: 5% 18%;
    display: block;
    justify-content: center;
    /*background: linear-gradient(90deg, #c56cf0 0%, #101010 100%);*/
    background: radial-gradient(circle, #181818 0%, #101010 100%);

    }

    h1 {
        font-size: 46px;
        font-family: Swansea;
        margin-top: 0.25em;
        color: rgb(255, 255, 255);
        max-width: 100%;
        text-align: center;
    }
 
    p {
        color:#bcbbbb;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: -0.006em;
        margin: 0;
        text-align: center;
        padding-top: 2%;
        max-width: 100%;
    }
    
    span {
            color: #fff;
            font-style: italic;
            font-family: Playfair-Display !important; 
            font-size: 50px !important;
        } 




</style>


