<a
  href="https://wa.me/+573133846633" 
  onclick="return gtag_report_conversion(this.href);"
  class="whatsapp-float" 
  target="_blank" 
  rel="noopener noreferrer"
>
  <img
    src="img/logos/hernan-estupinan.webp"
    alt="WhatsApp"
    class="whatsapp-icon"
  />
  <span class="whatsapp-text">Hablemos</span>
</a>

<style>
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 2rem;
    z-index: 9999;
  }
  .whatsapp-icon {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 0%;
  }
  span{
    color: white;
    padding-left: 0.5rem;
  }
  .whatsapp-text {
    font-size: 0.9rem;
  }


  @media screen and (max-width: 768px) {

  .whatsapp-float {
    position: fixed;
    bottom:0.5rem;
    right: 0.2rem;
    z-index: 9999;
  }
  .whatsapp-icon {
    max-width: 4rem !important;
    max-height: 4rem !important;
    border-radius: 0%;
   
  }

  .whatsapp-text {
    padding-left: 0;
    padding-right: 0.5rem;
  }

  }


</style>
