<a
  href="https://wa.me/+573133846633" 
  class="whatsapp-float" 
  target="_blank" 
  rel="noopener noreferrer"
>
  <img
    src="img/logos/hernan-estupinan.webp"
    alt="WhatsApp"
    class="whatsapp-icon"
  />
  <span class="whatsapp-text">Hablémos</span>
</a>

<style>
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 2rem;
    z-index: 9999;
  }
  .whatsapp-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 0%;
  }
  span{
    color: white;
    padding-left: 0.5rem;
  }
  .whatsapp-text {
    font-size: 0.9rem;
  }


  @media screen and (max-height: 768px) {

    .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 2rem;
    z-index: 9999;
  }
  .whatsapp-icon {
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 0%;
  }

  }


</style>
