<!--Section-->
<section class="has-black-background-color">
    <div class="vlt-gap-50"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="vlt-gap-70"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                    <!--Service-->
                    <div class="vlt-demo-feature vlt-demo-feature--style-1">
                        <div class="vlt-demo-feature__content">
                            <div class="vlt-demo-feature__media" style=" color:#fff;"><i class="icon-menu"></i></div>
                            <h5 class="vlt-demo-feature__title" style=" color:#fff;">Headers &amp; Footers Variations
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="vlt-gap-70"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                    <!--Service-->
                    <div class="vlt-demo-feature vlt-demo-feature--style-1">
                        <div class="vlt-demo-feature__content">
                            <div class="vlt-demo-feature__media" style=" color:#fff;"><i class="icon-time"></i></div>
                            <h5 class="vlt-demo-feature__title" style=" color:#fff;">Coming Soon and Maintenance
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="vlt-gap-70"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
                    <!--Service-->
                    <div class="vlt-demo-feature vlt-demo-feature--style-1">
                        <div class="vlt-demo-feature__content">
                            <div class="vlt-demo-feature__media" style=" color:#fff;"><i class="icon-layers"></i></div>
                            <h5 class="vlt-demo-feature__title" style=" color:#fff;">Powerfull Design Elements
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="vlt-gap-70"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
                    <!--Service-->
                    <div class="vlt-demo-feature vlt-demo-feature--style-1">
                        <div class="vlt-demo-feature__content">
                            <div class="vlt-demo-feature__media" style=" color:#fff;"><i class="icon-clean"></i></div>
                            <h5 class="vlt-demo-feature__title" style=" color:#fff;">Clean Typography and Colors
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="vlt-gap-70"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="400">
                    <!--Service-->
                    <div class="vlt-demo-feature vlt-demo-feature--style-1">
                        <div class="vlt-demo-feature__content">
                            <div class="vlt-demo-feature__media" style=" color:#fff;"><i class="icon-page"></i></div>
                            <h5 class="vlt-demo-feature__title" style=" color:#fff;">Well Documented
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="vlt-gap-70"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="500">
                    <!--Service-->
                    <div class="vlt-demo-feature vlt-demo-feature--style-1">
                        <div class="vlt-demo-feature__content">
                            <div class="vlt-demo-feature__media" style=" color:#fff;"><i class="icon-update"></i></div>
                            <h5 class="vlt-demo-feature__title" style=" color:#fff;">Regular Updates
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vlt-gap-120"></div>
</section>
<!--Section-->  


<style>
    h1 {
		font-size: 46px;
        font-family: Swansea;
		margin-top: 0.25em;
        color: aliceblue;
        max-width: 60%;
        padding: 10%;
        padding-bottom: 2%;
	}
 
    p {
		color:#cdcccc;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
        text-align: left;
        padding: 10%;
        padding-top: 0%;
        max-width: 70%;
	}

    main {
		height: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
		display: flex;
		justify-content: center;
        /**background-color:#101010;**/
        padding-left: 10%;
        padding-right: 10%;
        background-color: #8A8A8A;
	}

    @media screen and (max-height: 368px) {
		
	}

    @media screen and (max-width: 768px) {
        
        main {
            padding: 2%;
        }
        
        h1 {
			max-width: 100%;
            padding-top: 25%;
		}
        p {
			max-width: 100%;
            padding-top: 0%;
		}
    
    }
    

</style>