<!--Section-->
<main class="main-works">
    <section class="overflow">

        <section class="hero-works">
           
            <div class="container text-center">
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                    <!--Section title-->
                    <div class="vlt-section-title vlt-section-title--style-1">
                        <h1>Algunos de <span>nuestros proyectos</span></h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <!--Content slider-->
                <div class="vlt-content-slider " data-navigation-anchor=".vlt-single-work-slider-anchor" data-gap="30" data-loop="" data-speed="" data-autoplay="enable" data-autoplay-speed="500" data-slides-centered="enable" data-slide-settings="{&quot;slides_to_show&quot;:&quot;auto&quot;,&quot;initial_slide&quot;:1}" data-free-mode="" data-slider-offset="" data-mousewheel="">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://www.bogotaplazahotel.com/" target="_blank"><img src="img/projects/bogota-plaza-hotel.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://ranchosantarosa.com.mx/" target="_blank"><img src="img/projects/rancho-santa-rosa.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://nexgensoluciones.com/" target="_blank"><img src="img/projects/nexgen.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://www.parexresources.com/" target="_blank"><img src="img/projects/parex-resources.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://libropaisposible.com/" target="_blank"><img src="img/projects/pais-posible.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            
                           
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://perezlara.com/" target="_blank"><img src="img/projects/perez-lara.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://hazlolatam.com/" target="_blank"><img src="img/projects/hazlolatam.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://isabelrengifo.art/" target="_blank"><img src="img/projects/isabel-rengifo.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://www.purezzawater.co/" target="_blank"><img src="img/projects/purezza.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://www.estrategiastributarias.com/" target="_blank"><img src="img/projects/pardo-asociados.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                            <div class="swiper-slide vlt-custom--5150">
                                <!--Demo item-->
                                <div class="vlt-demo-item vlt-demo-item--style-3">
                                    <div class="vlt-demo-item__media"><a href="https://www.gearelectric.com/" target="_blank"><img src="img/projects/gear-electric.webp" alt="" loading="lazy"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vlt-gap-80"></div>
                <div class="text-center">
                    <!--Slider controls-->
                    <div class="vlt-slider-controls vlt-slider-controls--style-1 vlt-single-work-slider-anchor has-black-color">
                        <div class="vlt-swiper-button-prev"><i class="icon-arrow-left"></i>
                        </div>
                        <div class="vlt-swiper-pagination"></div>
                        <div class="vlt-swiper-button-next"><i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vlt-gap-120"></div>
        </section>

    </section>
</main>                


<style>

h1 {
        font-family: Swansea;
        color:white;
        font-size: 42px;
        max-width: 100%;
        line-height: normal;
        text-align: center;
        padding: 5% 18% 5% 18%;
    }

    span {
        color: white;
        font-style: italic;
        font-family: Playfair-Display !important; 
        font-size: 50px !important;
    }

    .table {
        padding: 8% 28% 8% 18%;
    }

.hero-works {


}


</style>