---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import Why from "../../components/Why.astro";
import Header from "../../components/Header.astro";

export function getStaticPaths(){

    return [
        { params: { servicio: 'desarrollo'} },
        { params: { servicio: 'marketing'} },
        { params: { servicio: 'ciberseguridad'} },
    ];
}

const {servicio} = Astro.params;
---

<Layout title ={servicio}>
    
    <main>
        <h1>{servicio}</h1>
    </main>
    <Why />
         <!--<Subservices />
        
        <Metology />
        <Projects />
        <Community />
        <Blog />
        <Footer /> -->  

</Layout>

<style>
    main {
     padding: 2rem;   
    }
</style>